<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-primary-600">
  <div class="px-3 py-3 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-center justify-between">
      <div class="flex items-center flex-1 w-0">
        <span class="flex p-2 rounded-lg bg-primary-800">
          <!-- Heroicon name: outline/speakerphone -->
          <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
          </svg>
        </span>
        <p class="ml-3 font-medium text-white truncate">
          <span class="md:hidden">
            Hydrogen is in developer preview!
          </span>
          <span class="hidden md:inline">
            Big news! Shopify Hydrogen is officially in developer preview!
          </span>
        </p>
      </div>
      <div class="flex-shrink-0 order-3 w-full mt-2 sm:order-2 sm:mt-0 sm:w-auto">
        <a href="#newsletter-container" class="flex items-center justify-center px-4 py-2 text-sm font-medium bg-white border border-transparent rounded-md shadow-sm text-primary-600 hover:bg-primary-50">
          Learn more
        </a>
      </div>
      <div class="flex-shrink-0 order-2 sm:order-3 sm:ml-3">
        <button type="button" class="flex p-2 -mr-1 rounded-md hover:bg-primary-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: outline/x -->
          <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>



<header class="relative">
  <div class="bg-warm-gray-50">
    <nav class="relative flex items-center justify-between px-6 pt-6 mx-auto max-w-7xl xl:px-8" aria-label="Global">
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full lg:w-auto">
          <a href="#">
            <span class="sr-only">redox</span>
            <img class="w-auto h-8 sm:h-10" src="{{ 'logo-without-bg-cropped.svg' | asset_url }}" alt="">
          </a>
          {%- comment -%}
          <div class="flex items-center -mr-2 lg:hidden">
            <button type="button" class="inline-flex items-center justify-center p-2 rounded-md bg-warm-gray-50 text-warm-gray-400 hover:bg-warm-gray-100 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-teal-500" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
          {%- endcomment -%}
        </div>
        {%- comment -%}
        <div class="hidden space-x-10 lg:flex lg:ml-10">
          <a href="#" class="text-base font-medium text-warm-gray-500 hover:text-warm-gray-900">Changelog</a>

          <a href="#" class="text-base font-medium text-warm-gray-500 hover:text-warm-gray-900">About</a>

          <a href="#" class="text-base font-medium text-warm-gray-500 hover:text-warm-gray-900">Partners</a>

          <a href="#" class="text-base font-medium text-warm-gray-500 hover:text-warm-gray-900">News</a>
        </div>
        {%- endcomment -%}
      </div>
      {%- comment -%}
      <div class="hidden lg:flex lg:items-center lg:space-x-6">
        <a href="#" class="px-6 py-2 text-base font-medium border border-transparent rounded-md bg-warm-gray-100 text-warm-gray-900 hover:bg-warm-gray-200">
          Login
        </a>
      </div>
      {%- endcomment -%}
    </nav>
  </div>

  {%- comment -%}
  <!--
    Mobile menu, show/hide based on menu open state.

    Entering: "duration-150 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
  <div class="absolute inset-x-0 top-0 z-30 p-2 transition origin-top transform lg:hidden">
    <div class="overflow-hidden bg-white rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="flex items-center justify-between px-5 pt-4">
        <div>
          <img class="w-auto h-8" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=teal&shade=500" alt="">
        </div>
        <div class="-mr-2">
          <button type="button" class="inline-flex items-center justify-center p-2 bg-white rounded-md text-warm-gray-400 hover:bg-warm-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-500">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="pt-5 pb-6">
        <div class="px-2 space-y-1">
          <a href="#" class="block px-3 py-2 text-base font-medium rounded-md text-warm-gray-900 hover:bg-warm-gray-50">Changelog</a>

          <a href="#" class="block px-3 py-2 text-base font-medium rounded-md text-warm-gray-900 hover:bg-warm-gray-50">About</a>

          <a href="#" class="block px-3 py-2 text-base font-medium rounded-md text-warm-gray-900 hover:bg-warm-gray-50">Partners</a>

          <a href="#" class="block px-3 py-2 text-base font-medium rounded-md text-warm-gray-900 hover:bg-warm-gray-50">News</a>
        </div>
        <div class="px-5 mt-6">
          <a href="#" class="block w-full px-4 py-2 font-medium text-center text-white bg-teal-500 border border-transparent rounded-md shadow hover:bg-teal-600">Login</a>
        </div>
      </div>
    </div>
  </div>
  {%- endcomment -%}
</header>